* {
  font-family: 'Roboto Slab', sans-serif;
}

body {
  margin: 0;
}

h2 {
  font-size: 25px;
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 400;
}

.first_section {
  min-height: 100vh;
  /* max-height: 100vh; */
  background: linear-gradient(rgb(1, 75, 104, 0), rgb(1, 75, 104, 0)), url("assets/header.jpg");
  background-size: cover;
}

.first_section_heading_section {
  position: absolute;
  margin-left: 40px;
  margin-top: 250px;

}


.first_section_heading {
  max-width: 340px;
  display: inline;
  /* max-height: 100px; */
  /* text-align: center; */
  font-size: 35px;
  line-height: 35px;
  font-weight: 400;
  background-color: transparent;
  color: white;
}

.first_section_content {
  padding-top: 15px;
  max-width: 325px;
  color: white;
  font-size: 14px;
  line-height: 25px;
  font-weight: 400;
  /* text-align: center; */
}

.first_section_button {
  /* background-image: linear-gradient(to right, #007585 , #1d485a ); */
  background-color: white;
  font-size: 16px;
  margin: 20px auto 0 auto;
  cursor: pointer;
  font-weight: 700;
  color: #1d485a;
  border: 0px;
  border-radius: 7px;
  padding: 5px 15px;
  text-align: center;
  display: inline-block;
  border: 1px solid white;
}

.first_section_button:hover {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  transition: ease;
}



.second_section {
  padding: 0 0 20px 0;
  background-image: url("./assets/CrumblePaper.jpeg");
  background-size: cover;
}

.second_section_header {
  /* text-decoration: underline; */
  padding: 5vh 0 0 0;
  font-size: 40px;
  text-align: center;
  font-weight: 800;
  color: #000000;
}

.second_section_text {
  padding: 20px 0 50px 0;
  margin: auto;
  max-width: 53%;
  min-width: 53%;
  text-align: center;
  color: #000000;
}

.second_section_boxes {
  display: -webkit-inline-flex;
  justify-content: center;
  align-items: center;
  margin: 3vh auto;
}

.one_service {
  align-self: flex-end;
  text-align: center;
  min-width: 19%;
  max-width: 19%;
  color: #000000;
  margin: 0 3.5vw;

}

.one_service_head {
  font-weight: 500;
  margin: 15px auto 5px auto;
  font-size: 15px;
  /* text-decoration: underline; */
}

.one_service_text {
  font-weight: 400;
  font-size: 12px;
  /* margin: 0 auto; */
}

.one_service_image {
  /* min-width: 20%;
  max-width: 20%; */
  margin: 0 auto;
  height: 50px;
}

.one_service_click {
  background-image: linear-gradient(to right, #007585, #1d485a);
  font-size: 12px;
  margin: 25px auto 0 auto;
  cursor: pointer;
  font-weight: 400;
  color: white;
  border: 0px;
  border-radius: 7px;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
}

.third_section {
  min-height: 90vh;
  /* max-height: 90vh; */
  width: 100%;
  background-image: url("./assets/journey2.jpg");
  background-size: cover;
  color: white;
  background-position: center;
}

.third_section_head {
  padding: 40px 0 20px 60px;
  font-size: 40px;
  font-weight: 500;
}

.third_section_text {
  padding: 10px 60px 20px;
  min-width: 42%;
  max-width: 42%;
  font-size: 16px;
  font-weight: 300;
  line-height: 30px;
}

.third_section_button {
  background-color: white;
  font-size: 16px;
  margin-left: 60px;
  cursor: pointer;
  font-weight: 700;
  color: #1d485a;
  border: 0px;
  border-radius: 7px;
  padding: 5px 15px;
  text-align: center;
  display: inline-block;
}

.third_section_button:hover {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  transition: ease;
}

.fourth_section {
  background-color: white;
  min-width: 100%;
  max-width: 100%;
  color: #000000;
  margin: 2% 0;
  padding: 0 0 4% 0;
  position: relative;
}

.fourth_section_head_section {
  min-width: 50%;
  max-width: 50%;
  text-align: center;
  margin: auto;
}

.fourth_section_head {
  font-size: 40px;
  margin: auto;
  color: #000000;
  font-weight: 800;
}

.fourth_section_head:hover {
  font-size: 40px;
  margin: auto;
  color: #007585;
  font-weight: 800;
}

.fourth_section_head_text {
  padding-top: 10px;
  margin: auto;
}

.fourth_section .fourth_section_element {
  margin: 4% 7% 0 7%;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  min-height: 70vh;
  background-color: white;
}

.fourth_section .fourth_section_element:nth-child(1) {
  margin: 4% 7% 0 7%;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 50px;
  align-items: center;
  position: sticky;
  min-height: 70vh;
  background-color: white;
}

.fourth_section .fourth_section_element:nth-child(2) {
  margin: 4% 7% 0 7%;
  top: 0;
  padding-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  min-height: 70vh;
  background-color: white;
}

.fourth_section .fourth_section_element:nth-child(3) {
  margin: 4% 7% 0 7%;
  top: 0;
  padding-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  min-height: 70vh;
  background-color: white;
}

.fourth_section_element_image {
  max-width: 60%;
  min-width: 60%;
}

.case-study-logo {
  height: 40px;
}

.fourth_section_element_items {
  max-width: 35%;
  min-width: 35%;
}

.fourth_section_element_items_head {
  font-size: 24px;
  font-weight: bold;
}

.fourth_section_element_items_text {
  font-size: 15px;
  margin: 10px 0 20px 0;
}

.fourth_section_element_items_button {
  color: white;
  width: fit-content;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  padding: 7px 15px;
  border-radius: 7px;
  background-image: linear-gradient(to right, #013036, #007585);
}

.fifth_section {
  color: white;
  background-color: #164d5a;
  min-width: 100%;
  max-width: 100%;
  text-align: center;
  padding: 2% 0 6% 0;
}

.fifth_section_head {
  font-size: 45px;
  font-weight: bold;
  padding-top: 15px;
  padding-bottom: 4%;
}


/* ############################################################################# */
  .section-padding{
  padding:0px 15%;
  }
  .brand-carousel {
  /* background: aliceblue; */
  /* margin-top: 15%; */
  padding-top: 10px;
  display: flex !important;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center !important;
  }
  .owl-dots {
  text-align: center;
  margin-top: 4%;
  }
  .owl-dot {
  display: inline-block;
  height: 15px !important;
  width: 15px !important;
  background-color: #878787 !important;
  opacity: 0.8;
  border-radius: 50%;
  margin: 0px 5px;
  }
  .owl-dot.active {
  background-color: #000 !important;
  }

  .single-logo{
    margin: 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
/* ############################################################################# */

.fifth_section_items {
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.fifth_section_image {
  min-width: 50%;
  max-width: 50%;
}

.fifth_section_image_center {
  min-width: 50%;
  max-width: 50%;
}

.fifth_section_image_secondlast {
  min-width: 50%;
  max-width: 50%;
}

.fifth_section_image_last {
  min-width: 50%;
  max-width: 50%;
}

.fifth_section_image_angular {
  /* min-width: 100%; */
  /* max-width: 100%; */
  /* min-height: 100%; */

}

.sixth_section_blog {
  text-align: center;
  color: #013036;
  margin: 2% 0 4% 0;
  min-width: 100%;
  max-width: 100%;
}

.sixth_section_blog_head {
  color: black;
  font-size: 45px;
  font-weight: bold;
  text-align: center;
  padding: 1% 0 4% 0;
}

.sixth_section_blog_head:hover {
  color: #007585;
}

.sixth_section_blog_items {
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.sixth_section_blog_items_one {
  min-width: 19%;
  max-width: 25%;
  margin: 0 20px;
  text-align: center;
}

.sixth_section_blog_items_image {
  width: 100%;
  min-height: 23vh;
  max-height: 27vh;
  overflow: hidden;
  margin-bottom: 5%;
}

.sixth_section_blog_items_head {
  font-size: 17px;
  padding-left: 5px;
  text-align: left;
  font-weight: bold;
  color: black;
  margin-bottom: 5%;
}

.sixth_section_blog_items_gap {
  border-radius: 3px;
  background-color: #164d5a;
  padding: 4px;
  min-width: 25%;
  max-width: 25%;
  margin-left: 5px;
}

.sixth_section_blog_items_text {
  margin: 5% 0;
  text-align: justify;
  padding: 0 5px;
  font-size: 10px;
}

.seventh_section {
  background-color: #164d5a;
  /* background-image: linear-gradient(to right, #013036 , #007585); */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.seventh_section_item {
  min-width: 40%;
  max-width: 40%;
  margin: 4% 0 5% 5%;
  text-align: justify;
  color: white;
}

.seventh_section_input_item {
  min-width: 45%;
  max-width: 45%;
  margin: 5%;
  color: white;
}

.seventh_section_button {
  min-width: 20%;
  max-width: 20%;
  margin: 25px 0 0 0;
  cursor: pointer;
  background-color: white;
  color: #003d49;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}

.seventh_section_input_boxes {
  min-width: 100%;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 2.5% 0;
}

.seventh_section_input_item_box {
  align-content: space-around;
  border: 0px;
  width: 50%;

}

.seventh_section_item_input {
  min-width: 90%;
  max-width: 90%;
  padding: 10px;
  border: 0px;
  border-bottom: 1px solid white;
  background-color: transparent;
  color: white;
}

::placeholder {
  color: white;
}

/* .seventh_section_item_head{
  min-width: 80%;
  max-width: 80%;
} */
.seventh_section_item_text {
  min-width: 80%;
  max-width: 80%;
  margin-top: 20px;
  font-size: 16px;
  font-weight: 300;
  color: #ebe8e8;
}

.eighth_section {
  background-color: white;
  min-width: 100%;
  max-width: 100%;
  padding-bottom: 4%;
}

.eighth_section_element {
  color: #013036;
}

.eighth_section_element_head {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  padding: 2% 0 4% 0;
}

.eighth_section_element_items {
  display: flex;
  justify-content: center;
  align-items: center;
}

.eighth_section_element_items_one {
  min-width: 15%;
  max-width: 15%;
  border-radius: 10px;
  margin: 0 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 10px;
  text-align: center;
}

.eighth_section_element_items_image {
  width: 90%;
  border-radius: 5px;
  padding: 10px;
}

.eighth_section_element_items_head {
  font-size: 15px;
  font-weight: bold;
}

.eighth_section_element_items_text {
  font-size: 10px;
}


/* SCROLL BAR CODE */
::-webkit-scrollbar {
  position: absolute;
  z-index: 1005 !important;
  width: 10px;
  border-radius: 5px;
  height: 0px;
}

::-webkit-scrollbar-track {
  background: #cccccc;
  border: 0px;
}

::-webkit-scrollbar-thumb {
  background: #333333;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #333333aa;
}

::-webkit-scrollbar-thumb:active {
  background: #333333aa;
}

@media screen and (max-width: 992px) {
  .first_section {
    background-size: contain;
    min-height: auto;
  }
}

@media screen and (max-width: 767px) {
  .first_section {
    background: linear-gradient(rgb(1, 75, 104, 0), rgb(1, 75, 104, 0)), url("assets/header.jpg");
    max-height: 50vh;
    min-height: 50vh;
    background-size: cover;
  }

  .first_section_heading_section {
    margin-left: 2vh;
    margin-top: 10vh;
  }


  .first_section_heading {
    max-width: 175px;
    display: inline;
    /* max-height: 100px; */
    /* text-align: center; */
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    background-color: transparent;
    color: white;
  }


  .first_section_content {
    padding-top: 15px;
    max-width: 200px;
    color: white;
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
    /* text-align: center; */
  }

  .first_section_button {
    /* background-image: linear-gradient(to right, #007585 , #1d485a ); */
    background-color: white;
    font-size: 12px;
    margin: 10px auto 0 auto;
    cursor: pointer;
    font-weight: 700;
    color: #1d485a;
    border: 0px;
    border-radius: 7px;
    padding: 5px 10px;
    text-align: center;
    display: inline-block;
    border: 1px solid white;
  }

  .second_section {
    padding: 0 0 20px 0;
    background-image: url("./assets/CrumblePaper.jpeg");
    background-size: cover;
  }

  .second_section_header {
    /* text-decoration: underline; */
    padding: 5vh 0 0 0;
    font-size: 24px;
    text-align: center;
    font-weight: 800;
    color: #000000;
  }

  .second_section_text {
    font-size: 15px;
    padding: 10px 0 15px 0;
    margin: auto;
    max-width: 90%;
    min-width: 75%;
    text-align: none;
    color: #000000;
  }

  .second_section_boxes {
    display: -webkit-inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 2vh auto;
  }

  .one_service {
    align-self: flex-start;
    text-align: center;
    min-width: 40%;
    max-width: 40%;
    color: #000000;
    margin: 0 2.5vw;
  }

  .one_service_head {
    font-weight: 500;
    margin: 5px auto 2px auto;
    font-size: 12px;
    /* text-decoration: underline; */
  }

  .one_service_text {
    font-weight: 400;
    font-size: 8px;
    margin: 0 auto;
  }

  .one_service_image {
    /* min-width: 20%;
  max-width: 20%; */
    margin: 5px auto;
    height: 5vh;
  }

  .one_service_click {
    background-image: linear-gradient(to right, #007585, #1d485a);
    font-size: 8px;
    margin: 10px auto 20px auto;
    cursor: pointer;
    font-weight: 400;
    color: white;
    border: 0px;
    border-radius: 7px;
    padding: 5px 5px;
    text-align: center;
    display: inline-block;
  }

  .third_section {
    min-height: 50vh;
    max-height: 50vh;
    width: 100%;
    background-image: url("./assets/journey2.jpg");
    background-size: cover;
    color: white;
    background-position: center;
  }

  .third_section_head {
    padding: 20px 0 10px 20px;
    font-size: 24px;
    font-weight: 500;
  }

  .third_section_text {
    padding: 5px 20px 10px;
    min-width: 60%;
    max-width: 60%;
    font-size: 13px;
    font-weight: 300;
    line-height: 15px;
  }

  .third_section_button {
    background-color: white;
    font-size: 11px;
    margin-left: 20px;
    cursor: pointer;
    font-weight: 700;
    color: #1d485a;
    border: 0px;
    border-radius: 7px;
    padding: 5px 5px;
    text-align: center;
    display: inline-block;
  }

  .third_section_button:hover {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    transition: ease;
  }

  .fourth_section {
    background-color: white;
    min-width: 100%;
    max-width: 100%;
    color: #000000;
    margin: 2% 0;
    padding: 0 0 4% 0;
    position: relative;
  }

  .fourth_section_head_section {
    min-width: 90%;
    max-width: 90%;
    text-align: center; 
    margin: auto;
  }

  .fourth_section_head {
    font-size: 24px;
    margin: auto;
    color: #000000;
    font-weight: 800;
  }

  .fourth_section_head:hover {
    font-size: 24px;
    margin: auto;
    color: #007585;
    font-weight: 800;
  }

  .fourth_section_head_text {
    padding-top: 10px;
    margin: auto;
    font-size: 14px;
  }

  .fourth_section .fourth_section_element {
    margin: 2% 3% 2% 3%;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    min-height: 70vh;
    background-color: white;
  }

  .fourth_section .fourth_section_element:nth-child(1) {
    margin: 2% 3% 2% 3%;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 20px;
    align-items: center;
    position: sticky;
    min-height: 70vh;
    background-color: white;
  }

  .fourth_section .fourth_section_element:nth-child(2) {
    margin: 2% 3% 2% 3%;
    top: 0;
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    min-height: 70vh;
    background-color: white;
  }

  .fourth_section .fourth_section_element:nth-child(3) {
    margin: 7% 3% 2% 3%;
    top: 0;
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    min-height: 70vh;
    background-color: white;
  }

  .fourth_section_element_image {
    max-width: 90%;
    min-width: 90%;
    padding: 0;
    margin: 0;
    /* align-self: center; */
  }

  .case-study-logo {
    height: 40px;
  }

  .fourth_section_element_items {
    max-width: 90%;
    min-width: 90%;
  }

  .fourth_section_element_items_head {
    font-size: 18px;
    font-weight: bold;  
  }

  .fourth_section_element_items_text {
    font-size: 12px;
    margin: 10px 0 10px 0;
  }

  .fourth_section_element_items_button {
    color: white;
    width: fit-content;
    cursor: pointer;
    font-size: 12px;
    padding: 5px 7px;
    border-radius: 7px;
    background-image: linear-gradient(to right, #013036, #007585);
  }

  
.fifth_section {
  color: white;
  background-color: #164d5a;
  min-width: 100%;
  max-width: 100%;
  text-align: center;
  padding: 2% 0 6% 0;
}

.fifth_section_head {
  font-size: 24px;
  font-weight: bold;
  padding-top: 15px;
  padding-bottom: 4%;
}

.fifth_section_items {
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.fifth_section_image_center {
  min-width: 25%;
  max-width: 25%;
}

.fifth_section_image_secondlast {
  min-width: 25%;
  max-width: 25%;
}

.fifth_section_image_last {
  min-width: 25%;
  max-width: 25%;
}

.fifth_section_image_angular {
  /* min-width: 12%; */
  /* max-width: 12%; */
}

.sixth_section_blog {
  text-align: center;
  color: #013036;
  margin: 2% 0 4% 0;
  min-width: 100%;
  max-width: 100%;
}

.sixth_section_blog_head {
  color: black;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  padding: 1% 0 4% 0;
}

.sixth_section_blog_head:hover {
  color: #007585;
}

.sixth_section_blog_items {
  display: -webkit-inline-flex;
  /* justify-content: center; */
  /* align-items: center; */
  flex-wrap: wrap;
}

.sixth_section_blog_items_one {
  min-width: 75%;
  max-width: 75%;
  margin: 0;
  text-align: center;
}

.sixth_section_blog_items_image {
  width: 100%;
  min-height: 23vh;
  max-height: 27vh;
  overflow: hidden;
  margin-top: 10px;
  margin-bottom: 10px;
}

.sixth_section_blog_items_head {
  font-size: 14px;
  padding-left: 5px;
  text-align: left;
  font-weight: bold;
  color: black;
  margin:0%;
}

.sixth_section_blog_items_gap {
  display:inline-flex;
  border-radius: 3px;
  background-color: #164d5a;
  padding: 4px;
  min-width: 25%;
  max-width: 25%;
  margin-left: 0px;
}

.sixth_section_blog_items_text {
  margin: 5% 0;
  text-align: justify;
  padding: 0 5px;
  font-size: 10px;
}


.seventh_section {
  flex-direction: column;
  padding-block: 20px;
}

.seventh_section_item {
  margin-right: 10%;
  max-width: none;
  padding-left: 15px;
  margin-bottom: 0;
}

.seventh_section_input_item {
  margin-right: 10%;
  max-width: none;
  padding-left: 15px;
}

.seventh_section_input_boxes {
  flex-direction: column;
  gap: 15px;
  margin-block: 20px;
}

.seventh_section_input_item_box {
  width: 100%;
}

.seventh_section_item_head {
  font-size: 25px;
  text-align: left;
}

.seventh_section_item_text {
  text-align: left;
  max-width: none;
  margin-top: 10px;
  font-size: 15px;
}

.seventh_section_item_input {
  padding-block: 12px;
  font-size: 15px;
  font-weight: 300;
  color: #ebe8e8;
}

.seventh_section_button {
  max-width: 90%;
  margin-block: 30px;
}

.seventh_section_button {
  padding-block: 15px;
}

}

input[type=submit]:hover {
  background-color: #1d485a;
  color: #ffffff;
  border: 2px solid #ffffff;
}

input[type=submit] {
  width: 20%;
  background-color: #ffffff;
  color: #1d485a;
  padding: 10px 8px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  border: 2px solid #1d485a;
}