* {
  font-family: 'Roboto Slab', sans-serif;
}
body {
  margin: 0;
}
.first_section {
  min-height: 100vh;
  max-height: 100vh;
  /* width: 100%; */
  height: 70%;
  background-image: url("./assets/1neww.jpg");
  background-size: cover;
}
.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.navbar_one_item {
  cursor: pointer;
  color: white;
  min-width: 15%;
  max-width: 15%;
  margin: 40px 10px 20px 10px;
  text-align: center;
  font-size: 20px;
}
.first_section_header {
  margin-top: 60vh;
  padding: 0 0 40px 20px;
  font-size: 45px;
  font-weight: 700;
  background-color: transparent;
  color: white;
}
.second_section {
  /* min-height: 85vh;
  max-height: 85vh; */
  width: 100%;
  padding: 0 0 20px 0;
  background-image: url("./assets/CrumblePaper.jpeg");
  background-size: cover;
}
.second_section_header{
  /* text-decoration: underline; */
  padding: 5vh 0 0 0 ; 
  font-size: 40px;
  text-align: center;
  font-weight: 800;
  color: #000000;
}
.second_section_text{
  padding: 20px 0 50px 0 ;
  margin: auto; 
  font-weight: 400;
  font-size: 16px;
  max-width: 53%;
  min-width: 53%;
  text-align: center;
  color: #000000;
}
.second_section_boxes{
  display: -webkit-inline-flex;
  justify-content: center;
  align-items: center;
  margin: 3vh auto;
}
.one_service{
  align-self: flex-end;
  text-align: center;
  min-width: 15%;
  max-width: 15%;
  color: #000000;
  margin: 0 5vw;
}
.one_service_head{
  font-weight: 500;
  margin: 15px auto 5px auto;
  font-size: 15px;
  /* text-decoration: underline; */
}
.one_service_text{
  font-weight: 400;
  font-size: 12px;
  /* margin: 0 auto; */
}
.one_service_image{
  min-width: 25%;
  max-width: 25%;
  margin: 0 auto;
  height: 70px;
}
.one_service_click{
  background-image: linear-gradient(to right, #003d49 , #03859e);
  font-size: 16px;
  margin: 25px auto 0 auto;
  cursor: pointer;
  font-weight: 400;
  color: white;
  border: 0px;
  border-radius: 7px;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
}
.third_section{
  min-height: 80vh;
  max-height: 80vh;
  width: 100%;
  background-image: url("./assets/journey.jpg");
  background-size: cover;
  color: white;
}
.third_section_head{
  padding: 100px 0 0 60px ;
  font-size: 60px;
  font-weight: 800; 
}
.third_section_text{
  padding: 0 60px;
  min-width: 40%;
  max-width: 40%;
}
.third_section_button{
  margin: 20px 60px;
  max-width: 12%;
  min-width: 12%;
  font-size: 22px;
  padding: 5px;
  border-radius: 7px;
  border: 0px;
  font-weight: bold;
  text-align: center;
  background-color: white;
  color: #324a5a;
  transition: ease;
  cursor: pointer;
}
.third_section_button:hover{
  background-color: transparent;
  color: white;
  border: 1px solid white;
  transition: ease;
}
.fourth_section{
  background-color: white;
  min-width: 100%;
  max-width: 100%;
  color: #00596b;
  margin : 2% 0;
  padding: 0 0 4% 0;
}
.fourth_section_head_section{
  min-width: 50%;
  max-width: 50%;
  text-align: center;
  margin: auto;
}
.fourth_section_head{
  font-size: 45px;
  margin: auto;
  font-weight: bold;
}
.fourth_section_head_text{
  font-size: 15px;
  margin: auto;
}
.fourth_section_element{
  margin: 7% 7% 0 7%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.fourth_section_element_image{
  max-width: 60%;
  min-width: 60%;
}
.fourth_section_element_items{
  max-width: 32%;
  min-width: 32%;
}
.fourth_section_element_items_head{
  font-size: 30px;
  font-weight: bold;
}
.fourth_section_element_items_text{
  font-size: 15px;
  margin: 10px 0 20px 0;
}
.fourth_section_element_items_button{
  color: white;
  width: fit-content;
  font-size: 16px;
  font-weight: bold;
  padding: 7px 15px;
  border-radius: 7px;
  background-image: linear-gradient(to right, #003d49 , #03859e);
}
.fifth_section{
  color: white;
  background-color: #00596b;
  min-width: 100%;
  max-width: 100%;
  text-align: center;
  padding:2% 0 6% 0;
}
.fifth_section_head{
  font-size: 45px;
  font-weight: bold;
  padding-top: 15px;
  padding-bottom: 4%;
}
.fifth_section_items{
  padding-top: 10px ;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.fifth_section_image_center{
  min-width: 12%;
  max-width: 12%;
}
.fifth_section_image_secondlast{
  min-width: 7.5%;
  max-width: 7.5%;
}
.fifth_section_image_last{
  min-width: 7%;
  max-width: 7%;
}
.fifth_section_image_angular{
  min-width: 12%;
  max-width: 12%;
}

.sixth_section_blog{
  color: #00596b;
  margin:5% auto;
  min-width: 100%;
  max-width: 100%;
}
.sixth_section_blog_head{
  font-size: 45px;
  font-weight: bold;
  text-align: center;
  padding: 4% 0;
}
.sixth_section_blog_items{
  display: flex;
  justify-content: center;
  align-items: center;
}
.sixth_section_blog_items_one{
  min-width:19%;
  max-width:19%;
  margin : 0 10px;
  text-align: center;
}
.sixth_section_blog_items_image{
  width: 100%;
  min-height: 23vh;
  max-height: 23vh;
  overflow: hidden;
    margin-bottom: 5%;
}
.sixth_section_blog_items_head{
  font-size: 30px;
  padding-left: 5px;
  text-align: left;
  font-weight: bold;
  color: black;
  margin-bottom: 5%;
}
.sixth_section_blog_items_gap{
  border-radius: 3px;
  background-color: #003d49;
  padding: 4px;
  min-width: 25%;
  max-width: 25%;
  margin-left: 5px;
}
.sixth_section_blog_items_text{
  margin: 5% 0;
  text-align: justify;
  padding:  0 5px;
  font-size: 10px;
}
.seventh_section{
  background-color: #003d49;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.seventh_section_item{
  min-width: 30%;
  max-width: 30%;
  margin: 5% 0 5% 5%;
  text-align: justify;
  color: white;
}
.seventh_section_input_item{
  min-width: 50%;
  max-width: 50%;
  margin: 5%;
  color: white;
}
.seventh_section_button{
  min-width: 40%;
  max-width: 40%;
  margin: 25px 0 0  0;
  background-color: white;
  color: #003d49;
  padding: 10px;
  border-radius: 10px;
}
.seventh_section_input_item_box{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 2.5% 0;
}
.seventh_section_item_input{
  min-width: 45%;
  max-width: 45%;
  padding: 10px;
  border : 0px;
  border-bottom: 1px solid white;
  background-color: transparent;
}
.seventh_section_item_head{
  font-size: 40px;
  font-weight: bold;
}
.seventh_section_item_text{
  font-size: 15px;
  margin-top: 20px;
}

.eighth_section{
  background-color: white;
  min-width: 100%;
  max-width: 100%;
  padding-bottom: 4%;
}
.eighth_section_element{
  color: #00596b;
}
.eighth_section_element_head{
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  padding: 2% 0 6% 0;
}
.eighth_section_element_items{
  display: flex;
  justify-content: center;
  align-items: center;
}
.eighth_section_element_items_one{
  min-width:15%;
  max-width:15%;
  border-radius: 10px;
  margin : 0 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 10px;
  text-align: center;
}
.eighth_section_element_items_image{
  width: 90%;
  border-radius: 5px;
  padding: 10px;
}
.eighth_section_element_items_head{
  font-size: 15px;
  font-weight: bold;
}
.eighth_section_element_items_text{
  font-size: 10px;
}
.footer{
  background-color: #003d49;
  padding: 40px 0 ;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-width:100% ;
  max-width:100% ;
  color: white;
}
.footer_item{
  min-width:20%;
  max-width:20%;
  /* border-left: 2.5px solid white; */
  text-align: left;
  padding: 0 0 0 3%;
  margin: 0 3% 0 0;
}
.footer_item_head{
  margin: 20px 0;
  font-size: 25px;
  font-weight: bold;
}
.footer_item_text{
  margin: 10px 0 0 0 ;
  font-size: 15px;
}
.footer_spacer{
  color: transparent;
  padding: 6% 0;
  background-color: white;
  min-width: 2px;
  max-width: 2px;
}
.footer_item_icons{
margin: 10px 0 0 0  ;
}
.footer_item_input{
background-color: transparent;
border-radius: 5px;
border: 1px solid white;
padding: 5px;
margin: 15px 0 10px 0;
width: 100%;
}
.footer_item_button{
  width: 100%;
  background-color: white;
  border: 0px;
  border-radius: 5px;
  color:#003d49 ;
  padding: 5px 5px;
  margin: 10px 0;
  text-align: center;
}